@import "../../variables.scss";

.card {
  background: white;
  box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);
  border-radius: 2px;
  width: 400px;
  height: 180px;
}

.cardTitle::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 350px;
  height: 1px;
  background: linear-gradient(to right,rgba(116,95,181,0.2),transparent 80%);
}

.cardTitle {
  font-weight: 400;
  color: $purble;
}

.description {
  text-align: center;
  padding: 15px;
  color: $activeColor;
}

.tecButton {
  box-shadow: inset 0 0 0 1px rgba(102,119,136,0.2);
  border-radius: 2px;
  padding: 10px 16px;
  margin: 0 8px;
  cursor: pointer;
}

.tecButton:hover {
  background: linear-gradient(5deg,#745fb5,#9066b8);
  box-shadow: 0 1px 1px rgba(102,119,136,0.55);
  color: aliceblue;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}